# Python
.venv/
**/.venv/
__pycache__/
**/__pycache__/
*.pyc
.env
**/.env
.env.local
**/.env.local
uv.lock.bak

# Node
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
helm/values-pingidentity.yaml
helm/values.yaml